<div class="row">
  <div class="col-md-6 col-md-offset-3 calculation-show-header">
    <%= button_to "Edit", edit_calculation_path(@calculation), class: "btn btn-default", method: :get %>  
    <h2>
      Prevision for converting <%= @calculation.amount %> <%= @calculation.base_currency %> to <%= @calculation.target_currency %> 
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table">
      <tr>
        <th>Week</th>
        <th>Rate</th>
        <th>Sum</th>
        <th>Profit / Loss</th>
        <th>Rank</th> 
      </tr>

      <% table_data(@calculation.id).each do |week_rate| %>
        <tr>
          <td>Week <%= week_rate["week"] %></td>
          <td>1 <%= @calculation.base_currency %> -> <%= format_number(week_rate["rate"]) %> <%= @calculation.target_currency %></td>
          <td><%= format_currency(week_rate["sum"], @calculation.target_currency) %></td>
          <td>
            <% if week_rate["profit"] %>
              <span class="profit"><%= format_percentage(week_rate["profit"]) %></span>
            <% elsif week_rate["loss"] %>
              <span class="loss"><%= format_percentage(week_rate["loss"]) %></span>
            <% end %>
          </td>
          <td><%= week_rate["rank"] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>  