<!DOCTYPE html>
<html>
<head>
  <title>CurrencyXchange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <% if logged_in? %>
        <div class="navbar-header">
          <p class="navbar-brand">Welcome <%= current_user.name %></p>
        </div>
        <p class="navbar-text navbar-right">
          <%= link_to "Log out", logout_path, method: :delete, class: "navbar-link" %> 
        </p>
      <% else %>
        <div class="navbar-header">
          <p class="navbar-brand">Welcome to currency X-change</p>
        </div>
        <p class="navbar-text navbar-right">
          <%= link_to "Sign up", signup_path, class: "navbar-link" %> 
        </p>
      <% end %>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
